/**
 *  Normalize
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

/**
 *  1rem 16px
 */

/**
 *  메인페이지  
 */
@media screen and (min-width: 40.625rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.viewport-container {
  width: 40.625rem;
  height: 64rem;
  margin: auto;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 40.625rem) {
  .viewport-container {
    width: 100%;
    margin: 0;
    height: unset;
  }
}

.app-container {
  width: 100%;
  margin: 0 auto;
}

.app-header {
  width: 100%;
  height: 3.125rem;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.app-header-text {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 3.125rem;
}

.banner-wrap {
  width: 100%;
}

.banner-img {
  width: 100%;
}

.profile-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
}

.profile-wrap .profile-img-holder {
  height: 100%;
}

.profile-img-holder .profile-img {
  width: 5rem;
}

.profile-text-wrap {
  flex-grow: 1;
  padding-left: 1.5rem;
}

.profile-text-wrap .profile-text {
  color: #999;
  font-size: 1.2rem;
}

.profile-right-arrow-wrap {
  width: 2rem;
}
.profile-right-arrow-wrap .profile-right-arrow {
  width: 1.5rem;
  height: 2rem;
}

.grid-menu-wrap {
  width: 100%;
}
