doctype html 
html
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="assets/style/common.css")
        link(rel="stylesheet" href="assets/style/main.css")
        title My배민
    body 
        div(class="viewport-container")
            div(class="app-container")
                header(class="app-header") 
                    span(class="app-header-text") My배민
                div(class="banner-wrap")
                    img(class="banner-img" alt="banner-image" src="assets/img/banner.png")
                
                a(class="profile-wrap" href="/login")
                    div(class="profile-img-holder")
                        img(class="profile-img" alt="profile" src="assets/img/user.png")
                    div(class="profile-text-wrap")
                        span(class="profile-text") 로그인해주세요
                    div(class="profile-right-arrow-wrap")
                        img(class="profile-right-arrow" alt="profile-right-arrow" src="assets/img/right-arrow.png")
                
                div(class="grid-menu-wrap")
                    ul(class="row")
                        li(class="grid-menu-item-wrap")
                            a(class="grid-menu-item" href="#포인트")
                                img(class="grid-menu-img" alt="포인트" src="assets/img/point.png")
                                span(class="grid-menu-text") 포인트
                        li(class="grid-menu-item-wrap")
                            a(class="grid-menu-item" href="#쿠폰함")
                                img(class="grid-menu-img" alt="쿠폰함" src="assets/img/coupon.png")
                                span(class="grid-menu-text") 쿠폰함
                        li(class="grid-menu-item-wrap")
                            a(class="grid-menu-item" href="#선물하기")
                                img(class="grid-menu-img" alt="선물하기" src="assets/img/present.png")
                                span(class="grid-menu-text") 선물하기

                    div(class="row")
                        li(class="grid-menu-item-wrap")
                            a(class="grid-menu-item" href="#찜")
                                img(class="grid-menu-img" alt="찜" src="assets/img/cart.png")
                                span(class="grid-menu-text") 찜
                        li(class="grid-menu-item-wrap")
                            a(class="grid-menu-item" href="#주문내역")
                                img(class="grid-menu-img" alt="주문내역" src="assets/img/order.png")
                                span(class="grid-menu-text") 주문내역
                        li(class="grid-menu-item-wrap")
                            a(class="grid-menu-item" href="#리뷰관리")
                                img(class="grid-menu-img" alt="리뷰관리" src="assets/img/review.png")
                                span(class="grid-menu-text") 리뷰관리

                a(class="event-menu-wrap")
                    div(class="event-img-wrap")
                        img(class="event-img" alt="이벤트이미지" src="assets/img/root.png")
                    div(class="event-text-wrap")
                        span(class="event-text") 일회용품 덜 쓰기, 함께해요!
                    div(class="event-right-arrow-wrap")
                        img(class="event-right-arrow" alt="event-right-arrow" src="assets/img/right-arrow.png")

                ul(class="list-menu-wrap")
                    li(class="list-menu-item-wrap")
                        a(class="list-menu-item" href="#배민페이 등록")
                            div(class="text-area")
                                div(class="text-wrap")
                                    span(class="list-menu-text") 배민페이 등록
                                    div(class="list-menu-new-img-wrap")
                                        img(class="list-menu-new-img" alt="new-img" src="assets/img/new.png")
                                div(class="text-wrap")
                                    span(class="list-menu-sub-text") 배민페이로 결제하면 최대 5.5% 배민포인트가 적립됩니다!
                            div(class="right-arrow-wrap")
                                img(class="list-menu-light-arrow" alt="list-menu-light-arrow" src="assets/img/right-arrow.png")

                    li(class="list-menu-item-wrap")
                        a(class="list-menu-item" href="#가족계정 관리")
                            div(class="text-area")
                                div(class="text-wrap")
                                    span(class="list-menu-text") 가족계정 관리
                                    div(class="list-menu-new-img-wrap")
                                        img(class="list-menu-new-img" alt="new-img" src="assets/img/new.png")
                                div(class="text-wrap")
                                    span(class="list-menu-sub-text") 결제수단을 관리해 우리 가족의 끼니를 챙겨주세요.
                            div(class="right-arrow-wrap")
                                img(class="list-menu-light-arrow" alt="list-menu-light-arrow" src="assets/img/right-arrow.png")

                    li(class="list-menu-item-wrap")
                        a(class="list-menu-item" href="#공지사항")
                            div(class="text-area")
                                div(class="text-wrap")
                                    span(class="list-menu-text") 공지사항
                            div(class="right-arrow-wrap")
                                img(class="list-menu-light-arrow" alt="list-menu-light-arrow" src="assets/img/right-arrow.png")

                    li(class="list-menu-item-wrap")
                        a(class="list-menu-item" href="배민커넥트지원")
                            div(class="text-area")
                                div(class="text-wrap")
                                    span(class="list-menu-text") 배민커넥트 지원
                            div(class="right-arrow-wrap")
                                img(class="list-menu-light-arrow" alt="list-menu-light-arrow" src="assets/img/right-arrow.png")

                            

                

                


                    
                
                