doctype html 
html
    include header.pug
        link(rel="stylesheet" href="/assets/style/privacy-info.css")
        title 회원가입
    body 
        div(class="viewport-container")
            div(class="app-container")
                header(class="app-header") 
                    a(class="app-header-left-arrow-wrap" href="/login")
                        img(class="app-header-left-arrow-img" alt="cancel" src="/assets/img/left-arrow.png")
                    span(class="app-header-text") 회원가입
                    a(class="app-header-next" href="/signup/email") 다음
                
                div(class="input-wrap")
                    div(class="input-item")
                        input(type="tel")
                        span(class="input-text") 휴대전화
                        i(class="clear-icon") X
                        i(class="valid-icon")

                    div(class="input-item")
                        input(type="tel")
                        span(class="input-text") 인증번호
                        i(class="clear-icon") X
                        i(class="valid-icon")
                
                div(class="button-wrap")
                    button(class="auth-send-btn") 인증번호 받기

                div(class="auth-re-send-wrap")
                    a(class="auth-re-send-btn" href="#인증번호다시받기") 인증번호 다시받기