doctype html 
html
    include header.pug
        link(rel="stylesheet" href="/assets/style/privacy-info.css")
        title 회원가입
        script(defer type="module" src="/assets/script/email.js")
    body 
        div(class="viewport-container")
            div(class="app-container")
                header(class="app-header") 
                    a(class="app-header-left-arrow-wrap" href="/login")
                        img(class="app-header-left-arrow-img" alt="cancel" src="/assets/img/left-arrow.png")
                    span(class="app-header-text") 회원가입
                    div(class="next-container")
                        a(class="app-header-complete disabled" href="#") 완료
                        a(class="app-header-complete hidden" id="complete-button" href="/login") 완료
                
                div(class="input-wrap")
                    div(class="flex-row")
                        div(class="input-divider")
                            div(class="input-item not-valid" id="email-container")
                                input(type="email" name="email")
                                span(class="input-text") 이메일
                                i(class="clear-icon hidden" role="email-clear-button") X
                                i(class="valid-icon")
                        button(class="dup-check-button" role="dup-check-button") 중복확인

                    div(class="input-item not-valid hidden" id="nickname-container")
                        input(type="text" name="nickname")
                        span(class="input-text") 닉네임
                        i(class="clear-icon hidden" role="nickname-clear-button") X
                        i(class="valid-icon")

                    div(class="input-item not-valid hidden" id="password-container")
                        input(type="password" name="password" maxlength="20")
                        span(class="input-text") 비밀번호
                        i(class="clear-icon hidden" role="password-clear-button") X
                        i(class="valid-icon")
                        span(class="error-text") 10자 이상 영어 대문자, 소문자, 숫자, 특수문자 중 2종류를 조합해야합니다.

                    div(class="input-item not-valid hidden" id="birth-container")
                        input(type="tel" name="birth")
                        span(class="input-text") 생년월일
                        i(class="clear-icon hidden" role="birth-clear-button") X
                        i(class="valid-icon")
                        span(class="error-text") 올바른 생년월일이 아닙니다.