doctype html 
html
    include header.pug
        link(rel="stylesheet" href="/assets/style/privacy-info.css")
        title 회원가입
        script(defer type="module" src="/assets/script/phone.js")
    body 
        div(class="viewport-container")
            div(class="app-container")
                header(class="app-header") 
                    a(class="app-header-left-arrow-wrap" href="/signup/agreement")
                        img(class="app-header-left-arrow-img" alt="cancel" src="/assets/img/left-arrow.png")
                    span(class="app-header-text") 회원가입
                    div(class="next-container")
                        a(class="app-header-next disabled" href="#") 다음
                        a(class="app-header-next hidden" href="/signup/email" role="next-btn") 다음
                
                div(class="input-wrap")
                    div(class="input-item not-valid" id="phone-container")
                        input(class="input" type="tel" name="phone")
                        span(class="input-text") 휴대전화
                        a(class="clear-icon hidden" role="phone-clear-icon" href="javascript:void(0)") X
                        i(class="valid-icon")

                    div(class="input-item hidden not-valid" id="auth-container")
                        input(class="input" type="tel" name="auth" maxlength="4")
                        span(class="input-text") 인증번호
                        a(class="clear-icon hidden" role="auth-clear-icon" href="javascript:void(0)") X
                        i(class="valid-icon")
                
                div(class="button-wrap")
                    button(class="auth-send-btn" role="auth-send-btn") 인증번호 받기

                div(class="auth-re-send-wrap hidden")
                    a(class="auth-re-send-btn" role="auth-re-send-btn" href="javascript:void(0)") 인증번호 다시받기