doctype html 
html
    include header.pug
        link(rel="stylesheet" href="/assets/style/agreement.css")
        title 회원가입
    body 
        div(class="viewport-container")
            div(class="app-container")
                header(class="app-header") 
                    a(class="app-header-cancel-wrap" href="/login")
                        img(class="app-header-cancel-img" alt="cancel" src="/assets/img/cancel.png")
                    span(class="app-header-text") 회원가입
                
                div(class)
            
                

                            

                

                


                    
                
                